{%extends 'base.html'%}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <p><center><strong> Please enter your login details. </strong></center></p>
    <br>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <form action = "login" method = "post">

    {% csrf_token %}

    <center><label for="username"><b>User Name </b></label>
    <input type = "text" name = "username" placeholder = "User Name"><br>
            <br>
        <label for="password"><b>Password </b></label>
    <input type = "password" name = "password" placeholder = "Password"><br>
            <br>
            <br>
    <input type = "Submit"></center>

    </form>
    <div><center>
        {% for message in messages %}
        <h3> {{message}} </h3>
        {% endfor %}</center>
    </div>
</body>
{% endblock %}