{%extends 'base.html'%}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>

    <p><center><strong> This page is
        {% for dest_name in dest_names %}
        <p>{{ dest_name.name }}</p>
            {% endfor %} page
    </strong></center></p>

    <br>
    </head>
<body>
<center> HI </center>
<form action = "destinations" method = "post">

    {% csrf_token %}




    </form>
</body>
</html>
{% endblock %}




